.mediaContainer {
  position: relative;
  width: 20%;
  height: 50%;
  border-radius: 8px;
  aspect-ratio: 16/9;
  transform: skew(-30deg, 0deg);
  transition: width 0.5s ease;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}


.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;

}

.mediaContainer:hover {
  width: 60%;
}

.galery {
  margin: auto;
  width: 80vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.inactive {
  opacity: 0;
  transform: scale(1.05);
  z-index: 1;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  filter: blur(20px) brightness(0.6);
  transform: scale(1.1);
  z-index: -1;
}


body {
  margin: 0;
  background-color: #111;
  min-height: 100vh;
}

.galery:has(.is-active) .mediaContainer:not(.is-active) {
  filter: brightness(0.3) grayscale(0.5);
  opacity: 0.6;
}

.mediaContainer {
  position: relative;
  width: 20%;
  height: 50%;
  border-radius: 8px;
  aspect-ratio: 16/9;
  transform: skew(-30deg, 0deg);
  overflow: hidden;
  z-index: 1;
}


.mediaContainer.is-active {
  position: absolute;
  width: 80vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(0deg, 0deg);
  z-index: 100;
  aspect-ratio: 18/9;

}

.is-active .media {
  transform: skew(0deg);
  width: 100%;
  left: 0;
}

.mediaContainer:not(.is-active):hover {
  width: 60%;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 110;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1;
  text-shadow: 0 0 1px white;
  transition: transform 0.5s ease;
}

.close-button:hover {
  transform: scale(1.10) rotate(180deg);
}